@font-face {
    font-family: 'Nunito';
    src: url(./font/Nunito-Regular.ttf);
}
@font-face {
    font-family: 'Noto Sans';
    src: url(./font/NotoSans-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container1{
    width: 100%;
    
    position: relative;
    
}
.back2{
    position: absolute;
    top: 0%;
    
}
.stuff{
    width: 100%;
    position: absolute;
    top: 200px;
    right: 10px;
}
.text{
    height: 801px;
    width: 100%;

}
.text1{
    position: absolute;
    top: 330px;
}
.get{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
width: 173px;
height: 64px;
left: 1033px;
top: 8.58px;
background: #292930;
border-radius: 7px;
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 43px;
}
.get:hover{
    background-color: transparent;
    color: #292930;
}
a{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
color: #292930;
text-decoration: none;
}
h5{
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 156.5%;
letter-spacing: 0.135em;
text-transform: uppercase;
margin-bottom: 28px;
}
h5> span{
    color:#FEC90C;
}
h2{
    font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 70px;
line-height: 110.5%;
color: #292930;
margin-bottom: 34px;
}
.text1>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
color: #555555;
margin-bottom: 34px;
}
.btn1{
width: 182px;
height: 64px;
border-radius: 7px;
border-color: #292930 0.5px solid;


font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
margin-right: 20px;
background-color: #292930;
}
.btn1:hover{
    color: #292930;
    background-color: transparent;
}
.btn2{
    width: 182px;
    height: 64px;
    border-radius: 7px;
    border-color: #292930 0.5px solid;
    
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    text-transform: capitalize;
    background-color: #292930;
    color: #FFFFFF;
}
.btn2:hover{
    color: #292930;
    background-color: transparent;
}
.div-text{
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 1180px;
    height: 800px;
    margin-left: 80px;
}
strong{
    color: #5956E8;
}
.dropdowncontent{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08), 0px 183.185px 183.185px rgba(52, 41, 39, 0.12), 0px 91.5925px 91.5925px rgba(52, 41, 39, 0.04), 0px 68.6944px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 11.4491px rgba(52, 41, 39, 0.04);
    border-radius: 14px;
    width: 150px;
    height: 100px;
    display: none;
    position: absolute;
    left: -10px;
    background-color: transparent;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(225, 5, 5, 0.2);
    z-index: 1;
}
.dropdown{
    display: flex;
    align-items: center;
    gap: 5px;
}
.dropdown:hover .dropdowncontent {
    display: block;
    position: absolute;
}
.high{
    display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
height: 126px;

}
.high-text> p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 110.5%;
color: #FFFFFF;
}
h6{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 156.5%;
letter-spacing: 0.135em;
text-transform: uppercase;
color: #D0D0D0;

}
h6> span{
    color: #FEC90C;
}
.button{
    display: flex;
justify-content: center;
align-items: center;
gap: 10px;
width: 174px;
height: 62px;
border-color: transparent;
background: #FFFFFF;
border-radius: 7px;
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
color: #292930;
}
.button:hover{
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
    cursor: pointer;
}
.card{
flex-direction: row;
align-items: flex-start;
padding: 41px 39px;
gap: 10px;
width: 352px;
height: 475px;
background: linear-gradient(180deg, #36363E 0%, #292930 100%);
border: 1px solid #424245;
border-radius: 30px;
}
.card> h3{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
color: #FFFFFF;
margin-bottom: 14px;
}
.card>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
color: #D0D0D0;
margin-bottom: 26px;
}
.card> button{
    display: flex;

justify-content: center;
align-items: center;
gap: 10px;
width: 266px;
height: 62px;
background: transparent;
border-radius: 7px;
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
border-color: #525255;
}
.card>button:hover{
    display: flex;
justify-content: center;
align-items: center;
gap: 10px;
width: 266px;
height: 62px;
background: #FFDC60;
border-radius: 7px;
color: #292930;
}
h4{
    text-align: center;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 156.5%;
letter-spacing: 0.135em;
text-transform: uppercase;
}
h4 > span{
    color: #5956E8;
}
.flexible >p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 110.5%;
text-align: center;

color: #292930;
}
.starter{
    border-bottom:  1px solid #D3D3D3;
}
.card1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 45px 38px;
gap: 10px;
background: #F7F7F7;
border: 1px solid #E2E2E2;
border-radius: 10px;
width: 389px;
height: 554px;
}
.card1:hover{
    background-color: #292930;
    cursor: pointer;
    
}
.card1:hover p{
    color: #FFFFFF;
}
.card1:hover .plan{
    background: #F6F6F6;
    color: #292930;
}
.card101{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;
width: 313px;
height: 464px;
}
.start{
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 110.5%;
text-align: center;

color: #292930;
}
.per{
    font-family: 'Nunito';
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 110.5%;
text-align: center;
margin-bottom: 35px;
color: #292930;
}
.per> span{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 244%;
text-align: center;

color: #555555;
}
.content>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 244%;
color: #555555;
}
.plan{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

gap: 10px;
width: 313px;
height: 64px;
background: #292930;
border-radius: 7px;
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.pop{
    background: #FFDC60;
border-radius: 9px;
width: 89px;
height: 40px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 244%;
text-align: center;
text-transform: uppercase;
border-color: transparent;
color: #292930;
margin-right: 20px;

}
.subscribe{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 49px 53px;
gap: 10px;

width: 399px;
height: 652.16px;

background: #3C3C45;
border-radius: 7px;
}
.title{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
color: #FFFFFF;
}
.industry{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
color: #D0D0D0;
margin-bottom: 18px;
}
input{
    width: 293px;
height: 62px;
background: #5B5B61;
border-radius: 7px;
margin-bottom: 18px;
padding-left: 26px;
}
input::placeholder{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
color: #FFFFFF;
}
.subsc{
    width: 293px;
height: 62px;
background: #FFDC60;
border-radius: 7px;
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
border-color: transparent;
color: #292930;

}
.phone{
    display: flex;
    margin-bottom: 17px;
}
.phone>p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
color: #FFFFFF;
}
.number{
    width: 255px;
height: 62px;

background: #3C3C45;
border-radius: 7px;
padding: 12px 20px 11px 31px;
}
.number::placeholder{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 156.5%;
color: #FFDC60;
}
.mail{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
color: #FFFFFF;
}
.loc{
    display: flex;
}
.loc>p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
color: #FFFFFF;
}
.location>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
color: #FFFFFF;
margin-top: 20px;
margin-bottom: 20px;
}
.location>a{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 156.5%;
text-decoration-line: underline;

color: #FFDC60;
}
.contact{
    border-bottom: 1px solid #727274;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.pgs1>p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
color: #FFFFFF;
}
.pgs>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 211.5%;
color: #FFFFFF;

}
.utility1>p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
color: #FFFFFF;
}
.utility>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 211.5%;
color: #FFFFFF;
}
.foll1>p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 110.5%;
color: #FFFFFF;

}
.foll>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 211.5%;
color: #FFFFFF;
margin-top: 30px;
}
.follows{
    border-bottom:  1px solid #727274;
    padding-bottom: 50px;
    margin-bottom: 17px;
}
.copy>p{
    font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 211.5%;
color: #FFFFFF;
}
#line{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
position: relative;
color: #292930;
}
#line::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #5956E8;
    transition: all .2s;
    top: 30px;
}
#line::after{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #FFDC60;
    transition: all .2s;
    top: 30px;
}
#line:hover::before {
    width: 100%;
    transition-delay: .1s;
}
#line:hover::after {
    width: 50%;
}
#About{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
position: relative;
color: #292930;
}
#About::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #5956E8;
    transition: all .2s;
    top: 30px;
}
#About::after{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #FFDC60;
    transition: all .2s;
    top: 30px;
}
#About:hover::before {
    width: 100%;
    transition-delay: .1s;
}
#About:hover::after {
    width: 50%;
}
#Serv{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
position: relative;
color: #292930;
}
#Serv::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #5956E8;
    transition: all .2s;
    top: 30px;
}
#Serv::after{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #FFDC60;
    transition: all .2s;
    top: 30px;
}
#Serv:hover::before {
    width: 100%;
    transition-delay: .1s;
}
#Serv:hover::after {
    width: 50%;
}
#Blog{
    font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
text-transform: capitalize;
position: relative;
color: #292930;
}
#Blog::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #5956E8;
    transition: all .2s;
    top: 30px;
}
#Blog::after{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: #FFDC60;
    transition: all .2s;
    top: 30px;
}
#Blog:hover::before {
    width: 100%;
    transition-delay: .1s;
}
#Blog:hover::after {
    width: 50%;
}
#container1{
    overflow: hidden;
}
#div1{
    width: 100%; 
    height: 900px; 
    background: linear-gradient(111.23deg, #E9F7FF 9.95%, #FFDBD5 85.17%);
}
#circle{
    background: #F4F6FB; 
    position: relative;
    width: 1208px;
    height: 1208px;
    left: 1075px;
    top: -198px; 
    border-radius: 50%;
}
#back2{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 180px; 
    width: 1180px; 
    margin-left: 80px;
}
#div2{
    justify-content: center; 
    display: flex; 
    align-items: center;
}
#logo{
    margin-right: 160px;
}
#home{
    display: flex; 
    gap: 40px; 
    z-index: 1;
}
#dropdown{
    display: flex;
}
#div3{
    position: relative; 
    display: inline-block;
}
#img-vector{
    cursor: pointer;
}
#login{
    margin-left: 58px; 
    display: flex; 
    align-items: center;
}
#container2{
    background-color: #292930; 
    margin-top: 0%; height: 1579px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
#container2-1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#high{
    height: 126px; 
    margin-top: 173px;
}
#high-text{
    margin-right: 279px;
}
#container2-2{
    display: flex; 
    margin-top: 90px;
}
#img-icon{
    margin-right: 39px;
}
#img-icon-1{
    margin-bottom: 26px;
}
#card{
    margin-left: 72px; 
    margin-right: 72px;
}
#icon-2{
    margin-bottom: 26px;
}